body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a0a0a;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

footer {
    background-color: #0f0e0e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: flex;
    width: 100%;
    bottom: 0;
}